button {
    margin: 5px;
}

.pageNumbers {
    /* display: flex; */
    flex-direction: row;
    /* justify-content: center; */
    /* align-items: center; */
    margin: 10px;
}

textarea {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  transition: border-color 0.3s ease-in-out;
  width: 100%;
  margin: 5px;
}

textarea:focus {
  border-color: var(--ifm-color-primary);
  outline: none;
}
